body {
  background-color: #87ceeb;
}
.App {
  font-family: "Open Sans";
  margin: auto;
  width: 50%;
  min-width: 600px;
  .NewTweet {
    background-color: #fff;
    padding: 5px;
    border: 1px solid #ccf;
    border-radius: 4px;
  }
  .TweetsContainer {
    .Tweet {
      padding: 5px;
      background-color: #eef3fb;
      border-radius: 4px;
      margin-bottom: 15px;
      display: flex;
      .UserAvatar {
        img {
          border-radius: 4px;
          box-shadow: 0 0 5px rgba(#000, 0.25);
        }
      }
      .TweetContent {
        p {
          padding: 0 10px;
          margin: 0 0 5px;
        }
        .Meta {
        }
      }
    }
  }
}
